<h1>About Us</h1>
<br>
<br>
<h5>Hours</h5>
<ul>
	<li>Monday 10-5</li>
	<li>Tuesday 10-5</li>
	<li>Wednesday 10-5</li>
	<li>Thursday 10-5</li>
	<li>Friday 10-5</li>
	<li>Saturday 5-7</li>
	<li>Monday 5-7</li>
</ul>
	<br>
<h5>Location</h5>
<p>555 Main Street</p>
<br>
<h5>Contact Us</h5>
<p>555-567-9999</p>
<br>
<h5>Mission Statement</h5>
<p>To make Web Development more accessable</p>
<%=image_tag('juice.jpg')  %>



<%= link_to 'Home', root_path %>